<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
    <title>Sentiment Analysis App</title>
</head>
<body>
    <div class="container">
        <h1>Sentiment Analysis</h1>
        <form action="/predict/" method="post">
            <label for="text">Enter text:</label>
            <input type="text" id="text" name="text" required>
            <button type="submit">Predict</button>
        </form>
        <div id="result" style="display: none;">
            <p id="result-text"></p>
        </div>
    </div>
    <script src="{{ url_for('static', path='script.js') }}"></script>
</body>
</html>